.main__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    /* border: solid red; */
}


.main__contact h3{
    font-size: 2.2rem;
}

.main__contact form {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}

.main__contact form input, .btn--contact, textarea {
    font-size: var(--font-size02);
    padding: 12px;
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.btn--contact {
    background: var(--primary-color);
    color: var(--light-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn--contact:hover {
    background: var(--secondary-color);
}


.main__contact form textarea {
    resize: none;
    height: 200px;
}